<h3>Willkommen auf Jojo's Fileserver (online 24/7)</h3>
<pre class="readme">
<img src="/.icons/tux.png" alt="Tux" class="tux">Guckt euch um, die meisten Sachen liegen in 'Movies' und 'Serien'. 
Momentan hat der Server 1.5TB Plattenplatz, Uploads von englischsprachigen
Filmen oder Serien ist über Samba in den Ordner 'Upload' möglich, am besten
kurz vorher anfragen (ICQ: 67900981 oder E-Mail <a
href="mailto:heipei@hackvalue.de">heipei@hackvalue.de</a>). 
Für andere Dateien könnt ihr auch auf dem <a href="http://fileserver">Fileserver</a> gucken.

Der Server ist auch über Samba (Windows Dateifreigabe) zu erreichen, genannt
"Motherload" in der Arbeitsgruppe. Auf die Musik könnt ihr auch mit iTunes zugreifen.

Die Fotos / Musik auf meiner Workstation ('Jojo' im Netzwerk) liegen auch auf
Motherload und werden mehrfach am Tag abgeglichen.
