<h3>Willkommen auf Jojo's Fileserver (online 24/7)</h3>
<pre class="readme">
<img src="/.icons/tux.png" alt="Tux" class="tux">Guckt euch um, die meisten Sachen liegen in <a href="/Movies">Movies</a> und <a href="/Serien">Serien</a>. 
Momentan hat der Server 4 Terabyte Plattenplatz, Uploads von englischsprachigen
Filmen oder Serien ist über Samba in den Ordner <a href="/Upload">Upload</a> möglich, am besten
kurz vorher anfragen (ICQ: 67900981 oder E-Mail <a
href="mailto:heipei@hackvalue.de">heipei@hackvalue.de</a>). 
Der Server läuft 24h am Tag, da <a href="http://heipei.net/2010/07/30/alix-2d13-first-impressions/">die Hardware</a> nur 5W im Betrieb verbraucht.

Der Server ist auch über Samba (Windows Dateifreigabe) zu erreichen, genannt
<tt>Motherload</tt> in der Arbeitsgruppe <tt>WORKGROUP</tt>. Auf die Musik
könnt ihr auch mit iTunes zugreifen.

Für andere Dateien könnt ihr auch auf dem <a href="http://fileserver">Fileserver</a> gucken.
